<div class="card text-white">
  <div class="card-body row">
    <div class="col-lg-6 col-xl-6">
      <h1 class="card-title text-center mb-5">ERROR 404</h1>
      <p class="card-text">A página que você procura não pôde ser encontrada, queira, por favor, retornar à página principal. Obrigado!</p>
      <div class="text-center mt-5">
        <button id="btn" class="btn" routerLink="/home">Ir para página principal</button>
      </div>
    </div>
    <div id="imagens" class="col-lg-6 col-xl-6">
      <img class="imagens img-responsive" src="../../../assets/images/page-not-found.png" style="height: 500px;">
    </div>
  </div>
</div>
