<div class="card text-white">
  <div class="card-body row">
    <div class="col-lg-6 col-xl-6">
      <h1 class="card-title text-center mb-5">Sejam bem vindos a Zero Company!</h1>
      <p class="card-text">Como sabemos, nossa última tentativa de trazer o natal para a cidade do halloween não correu tão bem quanto esperávamos.</p>
      <p class="card-text">Contudo, estou certo de que podemos tentar mais uma vez e, sem dúvidas, com a ajuda da tecnologia chegaremos ao resultado almejado.</p>
      <p class="card-text">Portanto, lhes apresento a nossa aplicação de gerenciamento de atividades. Clique no botão abaixo e vamos organizar um natal monstruoso!</p>
      <div class="text-center">
        <button id="btn" class="btn" routerLink="/lista-geral-funcionario">Começar</button>
      </div>
    </div>
    <div id="imagens" class="col-lg-6 col-xl-6">
      <img class="imagens img-responsive" src="../../../assets/images/jack_home_2.png" style="height: 500px;">
      <img id="zero-img" class="imagens img-responsive" src="../../../assets/images/logo.png" alt="">
    </div>
  </div>
</div>
