<!-- DESCRIÇÃO DOS CURSOS -->
<div class="container-fluid bg-dark">

  <div class="text-center text-white h1 pt-4 mb-4">Trilha do desenvolvimento Frontend</div>
  <div class="text-center text-white"><p>Conheça as principais tecnologias necessárias para se tornar um desenvolvedor frontend de sucesso!</p></div>

  <div class="row d-flex justify-content-center">
    <!-- PRIMEIRO CARD - HTML -->
    <div class="card col-lg-3 bg-dark mb-3 border-top-0 border-bottom-0 border-left-0">
    <hr class="text-white">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="progress orange">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div id="progress-html" class="progress-value"> <i class="bi bi-filetype-html"></i></div>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title text-white">1. HTML5</h5>
        <p class="card-text card-desc">
          HTML (Linguagem de Marcação de HiperTexto) é o bloco de construção mais básico da web. Define o significado e a estrutura do conteúdo da web. O HTML usa "Marcação" para anotar texto, imagem e outros conteúdos para exibição em um navegador da Web.</p>
      </div>
    </div>

    <!-- SEGUNDO CARD - CSS-->
    <div class="card col-lg-3 bg-dark mb-3 border-top-0 border-bottom-0 border-left-0">
      <hr class="text-white">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
                <div id="progress-css" class="progress-value"><i class="bi bi-filetype-css"></i></div>
            </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title text-white">2. CSS3</h5>
        <p class="card-text card-desc">CSS (Cascading Style Sheets ou Folhas de Estilo em Cascata) é uma linguagem de estilo usada para descrever a apresentação de um documento escrito em HTML ou em XML. O CSS descreve como elementos são mostrados na tela, no papel, na fala ou em outras mídias.</p>
      </div>
    </div>

    <!-- TERCEIRO CARD - JavaScript-->
    <div class="card col-lg-3 bg-dark mb-3 border-top-0 border-bottom-0 border-left-0">
      <hr class="text-white">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="progress yellow">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
                <div id="progress-js" class="progress-value"><i class="bi bi-filetype-js"></i></div>
            </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title text-white">3. JavaScript</h5>
        <p class="card-text card-desc">JavaScript é uma linguagem leve, interpretada e baseada em objetos com funções de primeira classe, mais conhecida como a linguagem de script para páginas Web, mas usada também em vários outros ambientes sem browser, tais como node.js,  Apache CouchDB e Adobe Acrobat.</p>
      </div>
    </div>

    <!-- QUARTO CARD - AngularJS-->
    <div class="card col-lg-3 bg-dark mb-3 border-top-0 border-bottom-0 border-left-0">
      <hr class="text-white">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="progress red">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
                <div id="progress-angular" class="progress-value"><i class="bi bi-filetype-tsx"></i></div>
            </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title text-white">4. Angular.js</h5>
        <p class="card-text card-desc">O AngularJS é um framework de código aberto usado para construir aplicativos para web baseados em uma única página dinâmica. Os desenvolvedores também usam essa ferramenta para criar menus animados para páginas de internet baseadas em HTML.</p>
      </div>
    </div>
  </div>
</div>
