<!-- Mídias sociais em smartphones e tablets -->
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="social-media col-4">
      <a href="https://www.whatsapp.com/?lang=pt_br" target="_blank">
        <span id="whats"><i class="bi bi-whatsapp"></i></span>
      </a>
    </div>
    <div class="social-media col-4">
      <a href="https://about.instagram.com/pt-br"  target="_blank">
        <div id="insta"><i class="bi bi-instagram"></i></div>
      </a>
    </div>
    <div class="social-media col-4">
      <a href="https://pt-br.facebook.com/" target="_blank">
        <span id="face"><i class="bi bi-facebook"></i></span>
      </a>
    </div>
  </div>
</div>

<footer class="navbar-expand-lg navbar-dark">
  <div class="cotainer">
    <li class="dropdown d-flex justify-content-between mx-3">
      <span class="text-center mt-2">
      </span>
      <span class="text-center mt-2">
        <i class="far fa-copyright"></i>
        KUNFT - desenvolvimento web LTDA.
      </span>
      <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="nav-icon"><i class="bi bi-gear-fill"></i></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a class="dropdown-item" routerLink="/login">
            <span class="nav-icon mx-2"><i class="bi bi-door-closed-fill"></i></span>
            <span class="nav-title">Login</span>
          </a>
        </li>
      </ul>
    </li>
  </div>
</footer>
