<div class="card mt-5 text-white">
  <div class="card-body">
    <h5 class="card-title">Editar dados da Equipe</h5>
    <hr>
    <form>
      <div class="mb-3">
        <label class="form-label">Nome da equipe</label>
        <input type="text" [(ngModel)]="equipe.eqp_nome" class="form-control"  name="eqp_nome">
      </div>
      <div class="mb-3">
        <label class="form-label">Descrição da equipe</label>
        <input type="text" class="form-control"  [(ngModel)]="equipe.eqp_atribuicao" name="eqp_atribuicao">
      </div>
      <div class="text-center">
        <button (click)="editarEquipe()" class="btn btn-success">Editar</button>
        <button (click)="cancelarEdicao()" class="btn btn-secondary mx-3">Cancelar</button>
      </div>
    </form>
  </div>
</div>
