<div class="card text-white text-center">
  <div class="card-body">
    <h5 class="card-title">Lista completa de monstros</h5>
    <div style="height: 300px; overflow: auto;">
      <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome do funcionario</th>
            <th scope="col">Cargo</th>
            <th scope="col">Cidade</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <th scope="row">{{funcionario.id_funcionario}}</th>
            <td>{{funcionario.func_nome}}</td>
            <td>{{funcionario.func_cargo}}</td>
            <td>{{funcionario.func_cidade}}</td>
            <td>
              <i routerLink="/edicao-funcionario/{{funcionario.id_funcionario}}" class="bi bi-pen-fill text-success"></i>
              <i routerLink="/exclusao-funcionario/{{funcionario.id_funcionario}}" class="bi bi-trash-fill text-danger mx-2"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center mt-5">
      <button id="btn-control" (click)="chamarFormularioCadastro()" class="btn">Cadastrar monstro</button>
      <button (click)="voltar()" class="btn btn-secondary mx-3">Voltar à página anterior</button>
    </div>
  </div>
</div>