<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-space-around">
    <h1 class="text-center mx-4">KUNFT<h5>Web Frontend</h5></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="nav-icon"><i class="bi bi-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-4">
          <a class="nav-link active" aria-current="page" routerLink="/home">
            <span class="nav-icon mx-2"><i class="bi bi-bell-fill"></i></span>
            <span class="nav-title">Home</span>
          </a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" routerLink="/form-user">
            <span class="nav-icon mx-2"><i class="bi bi-file-person-fill"></i></span>
            <span  class="nav-title">Contatos</span>
          </a>
        </li>
      </ul>
      <div class="social-media nav-item mx-4">
        <a class="nav-link" href="https://www.whatsapp.com/?lang=pt_br" target="_blank">
          <span id="whats" class="nav-icon mx-2 rounded px-1"><i class="bi bi-whatsapp"></i></span>
        </a>
      </div>
      <div class="social-media nav-item mx-4">
        <a class="nav-link" href="https://about.instagram.com/pt-br"  target="_blank">
          <div id="insta" class="nav-icon mx-2 rounded px-1"><i class="bi bi-instagram"></i></div>
        </a>
      </div>
      <div class="social-media nav-item mx-4">
        <a class="nav-link" href="https://pt-br.facebook.com/" target="_blank">
          <span id="face" class="nav-icon mx-2"><i class="bi bi-facebook"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>
