<!-- QUEM SOMOS -->
<div class="container-fluid mt-4 mb-5">
  <h1 class="text-center">Quem somos?</h1>
  <div class="row d-flex">
    <div class="col-xl-6">
      <img id="img-somos" class="" src="../../../assets/img/img_somos4.jpg" alt="">
    </div>
    <div class="col-xl-6 text-justify pt-4">
      <p>Somos uma empresa especializa em cursos online para a formação de desenvolvedores web Frontend. Sabemos que, pelo menos desde 2011, as pesquisas de mercado apontavam que para os próximos anos, com o intensivo desenvolvimento da tecnologia e o consumo em larga escala de smartphones, tablets e computadores portáteis, a internet faria parte do cotidiano das pessoas a nível mundial, o que hoje é uma realidade.</p>
      <p>No Brasil, até 2018, o mercado da tecnologia gerava 2,3 bilhões por ano, números que quadruplicaram após o início da pandemia COVID-19 e o aumento no números de trabalhadores remotos e o enclausuramento da população em geral. Consequentemente, a demanda por profissionais digitais em diversas áreas cresceu exponencialmente e um dos profissionais mais requisitados é o desenvolvedor web, o profissional responsável pela criação de sites, e-commerces e landing pages.</p>
      <p>Portanto, é com base nessa demanda que surgiu a KUNFT-desenvolvimento web, para ajudar você que quer se tornar um dos profissionais mais requisitados e alcançar a sua tão sonhada vaga no mercado de trabalho.</p>
    </div>
  </div>
</div>
