<div class="container-fluid mt-3 mb-5">
  <h1 class="text-center">Nossos cursos</h1>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="card col-lg-4 mb-3 border-top-0 border-bottom-0 border-left-0" *ngFor="let item of cursos">
      <img class="card-img-top" src="{{item.foto}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.nome}}</h5>
        <p class="card-text">{{item.descricao}}</p>
        <p class="card-text">Investimento: R${{item.preco}}</p>
      </div>
    </div>
  </div>
</div>
