<div class="container mt-5 text-white">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dados da tarefa</h5>
          <hr>
          <form>
            <div class="mb-3">
              <label class="form-label">Nome da tarefa</label>
              <input type="text" readonly class="form-control" [(ngModel)]="projeto.pro_nome" name="pro_nome">
            </div>
            <div class="mb-3">
              <label class="form-label">Descrição da tarefa</label>
              <input type="text"readonly class="form-control" [(ngModel)]="projeto.pro_descricao" name="pro_descricao">
            </div>
            <hr>
            <div class="text-center">
              <button routerLink="/projeto/lista-projeto" class="btn btn-secondary mx-3 mt-3">Voltar à página anterior</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h5 class="card-title mx-3">Escolha uma equipe para receber a tarefa</h5>
            <select class="text-center" [(ngModel)]="equipeSemProjetoEscolhida" name="equipeSemProjetoEscolhida" (ngModelChange)="escolherEquipe()">
              <option value="" selected>Escolher equipe</option>
              <option *ngFor="let equipe of equipesSemProjeto" [ngValue]="equipe" >
                {{equipe.eqp_nome}} - {{equipe.eqp_atribuicao}}
              </option>
          </select>
          <h5 class="card-title mt-2">Equipe escolhida: {{equipeSemProjetoEscolhida.id_equipe}} </h5>
          </div>
          <hr>
          <div class="mb-3">
            <label class="form-label">Nome Equipe</label>
            <input type="text" readonly [(ngModel)]="equipe.eqp_nome" class="form-control"  name="eqp_nome">
          </div>
          <div class="mb-3">
            <label class="form-label">Descrição da Equipe</label>
            <input type="text"readonly class="form-control" [(ngModel)]="equipe.eqp_atribuicao" name="eqp_atribuicao">
          </div>
          <div class="text-center">
            <button (click)=" atribuirEquipe()" class="btn btn-success mx-3">Salvar</button>
          </div>
          <hr>
          <div class="card text-center">
            <h5 class="card-title">Retirar a tarefa da equipe atual?
            <button (click)="deixarEquipeSemProjeto()" class="btn btn-danger mx-3 mt-2">Confirmar</button>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
