@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

#login-container{
  margin-bottom: 141px;
}

.valido{
  border-color: green;
}

.invalido{
  border-color: red;
}

h4{
  color: rgb(232, 95, 28);
}

.btn{
  margin-top: 2rem;
  padding: 0.4rem;
  width: 100%;
  background: linear-gradient(to left,#13293D, #006494);
  cursor: pointer;
  color: rgb(232, 95, 28);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn:hover{
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #13293D, #006494);
}

span{
  background: linear-gradient(to left,#13293D, #006494);
  color: rgb(232, 95, 28);
}
