<div class="card mt-5 text-white">
  <div class="card-body">
    <h5 class="card-title">Excluir cadastro de monstro</h5>
    <hr>
    <form>
      <div class="mb-3">
        <label class="form-label">Nome do monstro</label>
        <input type="text" class="form-control" readonly [(ngModel)]="funcionario.func_nome" name="func_nome">
      </div>
      <div class="mb-3">
        <label class="form-label">Cargo do monstro</label>
        <input type="text" class="form-control" readonly [(ngModel)]="funcionario.func_cargo" name="func_cargo">
      </div>
      <div class="mb-3">
        <label class="form-label">Cidade do monstro</label>
        <input type="text" class="form-control" readonly [(ngModel)]="funcionario.func_cidade" name="func_cidade">
      </div>
      <div class="text-center">
        <button (click)="excluirFuncionario()" class="btn btn-danger">Excluir</button>
        <button (click)="cancelarExclusao()" class="btn btn-secondary mx-3">Cancelar</button>
      </div>
    </form>
  </div>
</div>
